.section-wrapper {
  @apply w-full mx-auto max-w-lg;
}

.shipping-form {
  @apply w-full flex flex-col justify-between space-y-4;
}

.input-container-flex-col{
  @apply flex flex-col;
}

.section-title {
  @apply text-lg font-medium mb-2;
}

.input-group {
  @apply flex flex-col sm:flex-row sm:space-x-4 space-y-4 sm:space-y-0;
}

.label-input{
  @apply flex flex-col w-full;
}

.text-input {
  @apply flex-1 border border-black text-black p-3 placeholder:text-gray-400 text-sm font-normal;
}

.full-width-input {
  @apply border border-black text-black p-3 placeholder:text-gray-400 text-sm font-normal mb-3;
}

.checkbox-container{
  @apply flex items-center gap-2;
}

.checkbox-input {
  @apply w-5 h-5 rounded-none cursor-pointer;
}

.checkbox-label {
  @apply text-gray-400 font-normal text-sm leading-4 tracking-tighter;
}

.submit-button {
  @apply w-full;
}
