@tailwind base;
@tailwind components;
@tailwind utilities;

/* Layout styles */

html,
body,
#root,
.layout {
  @apply h-screen m-0 p-0;
}

.layout {
  @apply flex flex-col justify-between;
}

nav {
  @apply sticky;
}

main {
  @apply flex justify-center bg-white;
}

/* Global */
@layer base {

  h1,
  h2,
  h3,
  h4,
  h5 {
    @apply font-sans font-semibold;
  }

  h1,
  .h1 {
    @apply text-5xl md:text-6xl lg:text-7xl leading-tight tracking-tight;
  }

  h2,
  .h2 {
    @apply text-3xl lg:text-5xl leading-tight tracking-tight;
  }

  h3,
  .h3 {
    @apply text-2xl lg:text-3xl leading-snug tracking-tight;
  }

  h4,
  .h4 {
    @apply text-lg md:text-xl lg:text-2xl leading-snug tracking-tight;
  }

  h5,
  .h5 {
    @apply text-lg lg:text-xl leading-snug tracking-tight;
  }

  a {
    @apply hover:underline;
  }

  .status-text {
    @apply text-lg font-medium text-center;
  }

  .loading-state {
    @apply text-yellow-600;
  }

  .not-found-state {
    @apply text-yellow-700;
  }

  .text-link-primary {
    @apply underline whitespace-normal inline;
  }

  .product-price {
    @apply text-green-800;
  }

  .button-primary {
    @apply border border-green-800 bg-green-800 text-yellow-50 font-semibold flex justify-center items-center p-4 rounded transition duration-200 ease-in-out transform hover:scale-105 hover:bg-stone-700 hover:border-stone-700;
  }

  .button-secondary {
    @apply border border-yellow-700 text-yellow-800 font-semibold flex justify-center items-center p-4 rounded transition duration-200 ease-in-out;
  }

  .button-secondary__payment {
    @apply border border-black bg-white font-semibold flex justify-center items-center h-14 w-full rounded transition duration-200 ease-in-out;
  }
}


/* Animations */

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.25s ease-out forwards;
}

@keyframes pop {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.3);
  }

  100% {
    transform: scale(1);
  }
}

.animate-pop {
  animation: pop 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

/* To-do: fade out and link animations? */