
.navbar {
    @apply w-full bg-green-800 p-5 shadow-sm text-yellow-100;
}

.navbar-container {
    @apply flex items-center justify-between gap-4;
}

.navbar-icons {
    @apply w-5 h-5;
}

.mobile-navbar-icons {
    @apply w-6 h-6;
}

.navbar-left {
    @apply flex items-center gap-4 w-full;
}

.navbar-logo {
    @apply text-xl font-bold;
}

.navbar-links {
    @apply hidden md:flex gap-6 ml-6;
}

.navbar-link {
    @apply whitespace-nowrap;
}

.navbar-links-search {
    @apply flex items-center gap-10 w-full;
}

.navbar-search {
    @apply flex items-center w-full pl-4 bg-yellow-50;
}

.navbar-search-icon {
    @apply w-5 h-5 text-yellow-700;
}

.navbar-search-input {
    @apply bg-yellow-50 px-4 py-2 text-sm placeholder-yellow-700 text-black w-full font-semibold flex flex-grow;
}

.navbar-right {
    @apply flex items-center justify-end gap-4;
}

.navbar-cart {
    @apply flex items-center gap-1;
}

.navbar-auth {
    @apply whitespace-nowrap;
}

.navbar-mobile-icons {
    @apply flex items-center gap-4;
}

.mobile-search-wrapper {
    @apply w-full bg-yellow-700 mt-4 md:mt-0;
}

.mobile-menu {
    @apply bg-green-800 flex flex-col w-screen h-screen justify-center items-center gap-6;
}

.mobile-link {
    @apply text-lg text-yellow-100;
}

.mobile-close {
    @apply self-end;
}

.user-menu {
    @apply absolute right-0 mt-2 bg-white shadow-md rounded-xl p-4 z-50 w-40 transform transition-all duration-200;
}

.user-menu-open {
    @apply opacity-100 scale-100;
}

.user-menu-closed {
    @apply opacity-0 scale-95 pointer-events-none;
}

.user-menu-link {
    @apply block;
}

.user-menu-link:not(:last-child) {
    @apply mb-2;
}