.product-details-grid {
    @apply grid grid-cols-1 lg:grid-cols-2 gap-6 px-4 py-8 max-w-7xl mx-auto items-start;
}

.product-image {
    @apply w-full h-[400px] sm:h-[549px] overflow-hidden;
}

.product-image img {
    @apply w-full h-full object-cover;
}

.product-info {
    @apply flex h-full flex-col flex-1 justify-start gap-6 px-2;
}

.title-price {
    @apply flex md:flex-col w-full justify-between items-baseline;
}

.product-title,
h4 {
    @apply text-yellow-800;
}

.desc-actions {
    @apply flex flex-1 flex-col justify-between lg:flex-col;
}

.product-description,
.product-details {
    @apply text-base leading-relaxed;
}

.product-tasks-heading,
.product-tasks__items {
    @apply pt-3;
}

.product-task-item {
    @apply bg-yellow-50 px-1 py-1 flex items-center gap-2;
}

.product-actions {
    @apply flex w-full justify-center py-6;
}

/* to-remove */
.quantity-selector {
    @apply flex items-center bg-gray-100 border border-gray-400 px-4 py-2;
}

.qty-button {
    @apply text-gray-600 text-sm w-6 h-6 flex items-center justify-center hover:text-black;
}

.qty-value {
    @apply text-base font-medium w-8 text-center;
}

.loading-state,
.not-found-state {
    @apply flex flex-col items-center justify-center h-screen gap-2;
}

.state-icon {
    @apply text-4xl;
}

.state-message {
    @apply w-full text-center;
}